.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.sorting-cont{
    display: flex;
    flex-grow: 1;
    align-items: center;
}
.title,.sub-title{
    width: 100%;
    text-align: center;
    font-weight: bolder;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: #e4e6eb;
}
.histo-wrapper{
    position: relative;
}
.sub-title{
    font-size: 20px;
    margin-bottom:0px;
    margin-top: 0;
    position: absolute;
    bottom: -12px;
}